@import "retina.less";
html{
  			background-color:#e7efcd;
  			}
  			
  			.mainFrame{
  			   
  	//		     .at2x('admin_view.png',1024,700);

                background-position:center;
                background-size:cover;
                background-repeat:no-repeat; 
                background-color:transparent;	
                width:1024px;
                height:700px;
                margin: 0px auto 0px auto;
                margin-top:-10px;
  			
  			}
  			
  			.add{
  				position:relative;
  				top:44px;
  				left:23px;
  				width:120px;
  				height:120px;
  			}  
  			
  			
  			 .admin_view_top{
    .at2x('admin_view_top.png',1024,185);
 float:left;
  			 width:1024px;
                height:185;
  				position:relative;
  				
   
   }
  			
  			.admin_view_content{
  			
  			 .at2x('admin_view_content.png',1024,18);
 	float:left;
  			 width:1024px;
                height:auto;
  				position:relative;
  				background-repeat:repeat;
  			
  				
  			}       
  			
  			
  			
  			    .admin_view_bottom{
              .at2x('admin_view_bottom.png',1024,104);
 
  			 width:1024px;
                height:104;
  				position:relative;
            float:left;
            
            }
   
             
            .ui-ring{
            	width:650px;
            	margin: 0px auto 0px auto;
            }
            .ui-ring-item {
            	font-size:12;
  			    width: 183px;
                height:143px;              	
                text-align:center;
                background-position:center;
                background-size:cover;
                background-repeat:no-repeat; 
                background-color:transparent;                
                border:none;
  	 
            }
            
            
            .buttonStyle {
				border:none;   
               	width: 20px;
                height:20px;
				margin-top:50px; 		
					
			}
			
			.addNewAssignment{
				width: 75px;
                height:75px;
                margin-top:50px;
                margin-left:5px;
                border:none;
			}
			
			.zoomIcon{
				width:60px;
				height:60px;
				position:absolute;
				bottom:20%;
				left:50%;
				margin-left: -30px;
			}
			
			.rubricDisplay{
				position:absolute;
				top:5px;
				left:100px;
			}
			
			.ui-dialog.ui-widget-content {
     //		background-color: transparent;
     		box-shadow: none !important;
     		border:none;
     		padding:none;
			}
			
			.ui-dialog-titlebar.ui-widget-header{
			background-color: #A5C734;
     		box-shadow: none !important;
     		border:none;
     		padding:none;
			}
			
			.ui-dialog.ui-widget-content.detail{
background-color: transparent;
}
			
			.fileupload-content{
            	display:none !important;
            }
            
            .ui-state-error{
            	display:none !important;
            }

			
			.ui-row-toggler{
			background-color: #F1EEE3;
			}
			
			
			.table_dialog .ui-widget-content{
			background-color: #FFFFFF;
			}
			
				.table_showhistory .ui-widget-content{
			background-color: #FFFFFF;
			}
			
			.table_column{
			background-color: #F1EEE3;
			}
			
			.fileinput-button{
				width:100px;
				height:30px;
				font-size:15px !important;
			}
			
		
			.ui-datatable .ui-datatable-data tr{
   				 height : 15px;
			}
			
			
			.assignmentTable{
			width: 900px;
          
                position:relative;
                left:62px;
          
               
}
			
			
			    .assignmentTable td:nth-child(1) {
    			width: 150px !important;
			}
			
			.assignmentTable td:nth-child(2) {
    			width: 300px !important;
			}
			
		
            .profiletoolbar{
       
      
        position:relative;
        float:left;
        width:230px;
        	
        height:20px;

        left:760px;
        top:-110px;
        
        }

              .toolbar{
       
      
        position:relative;
        float:left;
        width:230px;
        	
        height:20px;

        left:760px;
        top:-554px;
        
        }
.filename{
position:relative;
float:left;
height:20px;
width:200px;
left:28px;
top:100px;


}
			
			
