@import "retina.less";
html{
  			background-color:#e7efcd;
  			}
  			
  			.mainFrame{
  			   
  		//	     .at2x('stu_view.png',1024,700);
                background-position:center;
                background-size:cover;
                background-repeat:no-repeat; 
                background-color:transparent;	
                width:1024px;
                height:700px;
                margin: 0px auto 0px auto;
                margin-top:-10px;
  			
  			}
  			
  			.logout{
  				position:relative;
  				top:45px;
  				left:28px;
  				width:120px;
  				height:120px;
  			} 
   .stu_view_top{
    .at2x('stu_view_top.png',1024,185);
 float:left;
  			 width:1024px;
                height:185;
  				position:relative;
  				
   
   }
             
 	.stu_view_content{
 	 .at2x('stu_view_content.png',1024,18);
 	float:left;
  			 width:1024px;
                height:auto;
  				position:relative;
  				background-repeat:repeat;
  			
  				
  			}   
            
            
            .stu_view_bottom{
              .at2x('stu_view_bottom.png',1024,104);
 
  			 width:1024px;
                height:104;
  				position:relative;
            float:left;
            
            }
   
			.addNewAssignment{
				width: 75px;
                height:75px;
                margin-top:50px;
                margin-left:5px;
                border:none;
			}
			
		
			
		
			
			.ui-dialog.ui-widget-content {
     	//	background-color: transparent;
     		box-shadow: none !important;
     		border:none;
     		 font-size: 100%;
			}
			.assignmentTable{
			width: 900px;
         //       height:auto;
                position:relative;
                left:62px;
          
               
}


.ui-dialog.ui-widget-content.detail{
background-color: transparent;
}

	.ui-dialog-titlebar.ui-widget-header{
			background-color: #A5C734;
     	
			}


            .assignmentTableRow{
            
     //      font-size: 80% ;
           
            
            }
            
            .assignmentTable td:nth-child(1) {
    			width: 150px !important;
			}
			
			.assignmentTable td:nth-child(2) {
    			width: 300px !important;
			}
			
			
            .fileupload-content{
            	display:none !important;
            }
            
            .ui-state-error{
            	display:none !important;
            }
            
                          .profiletoolbar{
       
      
        position:relative;
        float:left;
        width:230px;
        	
        height:20px;

        left:760px;
        top:-110px;
        
        }
            
            
                    .toolbar{
       
      
        position:relative;
        float:left;
        width:230px;
        	
        height:20px;

        left:760px;
        top:-554px;
        
        }
        
        .filename{
position:relative;
float:left;
height:20px;
width:200px;
left:28px;
top:80px;


}
     
        
        
          
			
	
