  @import "retina.less";
  
  html{
		background-color:#e7efcd;
  			}
  			
  				
  				
		.mainFrame{
  			  
  			    .at2x('indext.png',1024,700);
                background-position:center;
                background-size:cover;
               background-repeat:no-repeat; 
                background-color:transparent;	
                width:1024px;
                height:700px;
                margin: 0px auto 0px auto;	
		}   
		
	
		
					.Panel{
			position:relative;
			top:235px;
			left:388px;
		}
		
        
      
        	.gmail {
        	
        //	position:absolute;
        	
        //	top:56;
        	
        //	float:left;
        		width:240px;
        		height:56px;
        	}
        	
        	.AOL {
      //  position:absolute;
     //   top:156;
        	//float:left;
        	 	position:relative;
        		width:240px;
        		height:56px;
        	}
        	
        	.yahoo {
        	
        	top:256;
        //	float:left;
        	 	position:relative;
        		width:240px;
        		height:59px;
        	}
        	
        	
        	
        	.guest {
        	 top:156;
       // 	float:left;
        	 	position:relative;
        		width:240px;
        		height:57px;
        	}
        	
        		.signup {
        //	 top:156;
        //	float:left;
        	 	position:relative;
        		width:240px;
        		height:94px;
        	}
        	
        	
        		.teacher{
			position:relative;
  				top:230px;
  				left:29px;

		}
		
        	
        	